<div class="container-fluid">
    <material-toolbar id="toolbar" class="material-tall" ng-class="materialClass">
        <div class="material-toolbar-inner">
            <div class="material-toolbar-tools">
                <!-- <span>
                    Nathan VanBenschoten
                </span> -->
            </div>
        </div>
    </material-toolbar>

    <div class="content-card-holder">
        <material-whiteframe class="material-whiteframe-z2 content-card" layout layout-align="center center">
            <div class="content-card-content">
                <div class="content-card-header">
                    <h2 id="title-text">Nathan VanBenschoten</h2>
                </div>

                <div class="content-card-break">
            </div>
        </material-whiteframe>
    </div>

    <!-- <div class="content">
        <h1 id="title-text">NATHAN VANBENSCHOTEN</h1>
        <hr>
    </div> -->
</div>